# OS / editors
.DS_Store
.idea
.vscode
*.log
npm-debug.log
yarn-error.log

# Secrets
.env
.env.local
.env.*.local
!.env.example
!.env.test

# Dependencies / build
node_modules
.svelte-kit
build
dist
backend/tmp/*
!backend/tmp/.gitkeep
backend/build
frontend/build
desktop/src-tauri/target
desktop/src-tauri/gen

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
frontend/.yarn/install-state.gz
